.color {
  position: relative;
  padding: 30px;
  width: fit-content;
  background-color: #eaeef1;
  border-radius: 20px;

  &Box {
    position: relative;
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 20px;

    &:hover .colorName {
      opacity: 1;
    }

    .colorName {
      position: absolute;
      bottom: 20px;
      padding: 12px 48px;
      background-color: rgba(0, 0, 0, 0.2);
      color: white;
      font-size: 22px;
      opacity: 0;
    }

    &.green {
      background-color: green;
    }
    &.purple {
      background-color: purple;
    }
  }

  &Buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    gap: 12px;

    button {
      flex: 1;
      height: 50px;
      cursor: pointer;
    }
  }
}
