.toggle {
  &Text {
    display: flex;
    align-items: center;
    font-size: 24px;
  }

  &Button {
    margin-right: 4px;
    margin-bottom: 2px;
    padding: 4px;
    width: 32px;
    height: 32px;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      background-color: #e7e7e7;
    }
  }

  &Contents {
    padding: 12px;
    font-size: 48px;
  }
}
